// 颜色定义规范
$header-background: -webkit-gradient(linear, 0 -80,-1.5 bottom, from(#3f5871), to(#293949));
$min-width: 1300px;


// 字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;